<script setup>
import { reactive } from 'vue'

const state = reactive({
  username: '',
  password: '',
})

function SubmitForm() {
  alert(`Username: ${state.username} Password: ${state.password}`)
}
</script>

<template>
  <article class="container w-3/6 p-6 border-2 border-gray-400 bg-white m-auto shadow-2xl">
    <div class="mb-6"><h1 class="text-2xl text-left">Вход в систему</h1></div>
    <form class="grid grid-cols-8 gap-4 ml-8" @submit.prevent="SubmitForm">
      <label for="username" class="text-left col-span-2"> Пользователь </label>
      <input id="username" v-model="state.username" type="text" class="input-text col-span-6" />
      <label for="password" class="text-left col-span-2"> Пароль </label>
      <input id="password" v-model="state.password" type="password" class="input-text col-span-6" />
      <button type="submit" class="btn col-start-3 col-span-2 w-full">Войти</button>
      <router-link to="/" class="btn col-start-5 col-span-2 w-full">Отмена</router-link>
    </form>
  </article>
</template>
<style>
.btn {
  @apply bg-gradient-to-t from-gray-200 to-white rounded pr-4 pl-4 border border-gray-400;
  @apply pt-1 pb-1 text-center
}
.btn:active {
  @apply from-gray-200 to-gray-200;
}

.input-text {
  @apply border border-gray-400 col-span-4 rounded p-1;
}
</style>
