<script setup>
  import HelloWorld from "@/components/HelloWorld.vue"
</script>

<template>
  <main class="flex justify-center align-middle w-screen h-screen">
    <HelloWorld msg="Hello Vue 3 + Vite" />
  </main>
</template>

<style>

</style>
