<template>
  <main class="login-page">
    <LoginForm />
  </main>
</template>

<script setup>
import LoginForm from '../components/user/LoginForm.vue'
</script>

<style>
.login-page {
  @apply flex h-screen w-screen bg-white
}
</style>
