<script setup></script>

<template>
    <section class="container m-auto p-4 border-2 border-gray-400 w-1/2 text-center shadow-2xl">
      <h1 class="text-4xl font-bold mb-12 pb-2 border-b-2">Добро пожаловать на мой сайт!</h1>
      <router-link to="/login" class="btn">Посмотреть</router-link>
    </section>
</template>

<style></style>
